body{
    background: black;
}
.container{
    background: rgb(75, 75, 75);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width: 100%;

}
#area{
    
    font: normal 20pt arial;
    width: 200px;
    text-align: center;
    background: rgb(158, 15, 99);
    
}